.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

.item {
    border: 1px solid ridge;
    padding: 10px;
    margin-bottom: 10px;
    background-color: navajowhite;
    font-weight: 400;
    height: auto;
    width: auto;
}