body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background: #312b2b;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 18px;
}

h1 {
    text-align: center;
    margin-top: 30px;
}


.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}