body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ebe3e3;
}

#about {
    background-color: #ae3434;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

.profile img {
    width: 80px;
    height: 80px;
    border-radius: 0;
    border: 1px solid #f8f6f6;
}

nav {
    background: #312b2b;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 18px;
}

h1 {
    text-align: center;
    margin-top: 30px;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
}


.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

}

.background {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    background-image: url("images/download1.jpg");
}

.load {
    color: black;
}

.contact {
    font-family: Arial, Helvetica, sans-serif;

}

.contact label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


.contact textarea:focus {
    border-color: dodgerblue;
    outline: none;
}