* {
    box-sizing: border-box;
    font-family: 'Lucida Sans',
     'Lucida Sans Regular', 
     'Lucida Grande',
      'Lucida Sans Unicode',
       Geneva, Verdana, sans-serif;
  }
  
  body {
    margin: 0;
    background: #fdfdfd;
  }
  
  .app {
    display: flex;
    height: 100vh;
    background: #fff;
  }
  
  /* LEFT TABLES */
  .tables {
    width: 20%;
    padding: 20px;
    overflow-y: scroll;
  }
  
  .tables h2 {
    margin-bottom: 10px;
  }
  
  .search {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .table-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    cursor: pointer;
    background: #fff;
  }

  
  .table-card h3 {
    margin: 0;
  }
  
  .table-card p {
    margin: 5px 0 0;
    color: #555;
  }
  
  
  .divider {
    width: 2px;
    background: #0a0a0a;
    height:100vh;
  }
  
  /* RIGHT MENU */
  .menu {
    width: 75%;
    padding: 20px;
    cursor: grab;
    overflow-y: scroll;
  }
  
  .menu h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .menu-item {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    height: auto;
  }
  .menu-item{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding:10px;
    border:1px solid rgb(152, 144, 144);
  }
  .menu-item:active {
    cursor: grabbing;
  }
 
  .menu-item p {
    margin-left: auto;
    color: #149325;
  }
  .menu-item .category {
    font-size: 12px;
    color: #555;
 
  }



  

  .modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: #fff;
    width: 600px;
    border-radius: 8px;
    padding: 15px;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3f51b5;
    color: white;
    padding: 10px;
    border-radius: 6px;
  }
  
  .close {
    cursor: pointer;
    font-size: 18px;
  }
  
  table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  input[type="number"] {
    width: 60px;
  }
  
  .total {
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .bill-btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  