* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1f1d1d;
    color: white;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}


.navbar {
    width: 100%;
    background: #2c2727;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
}

.logo {
    color: #fff;
    font-size: 26px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}

.nav-links a:hover {
    color: #ffb84d;
}

.home {
    height: 100vh;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
}

.home-content h1 {
    font-size: 50px;
}

.home-content h2 {
    font-size: 28px;
    margin-top: 10px;
}


.about {
    padding: 80px 40px;
    text-align: center;
}

.about-box {
    background: #2c2727;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    gap: 25px;
}

.profile-pic {
    width: 140px;
    height: 140px;
    border-radius: 10px;
    border: 2px solid white;
}


.contact-section {
    padding: 80px 40px;
    text-align: center;
}

.contact-form {
    width: 350px;
    margin: auto;
    background: #2c2727;
    padding: 25px;
    border-radius: 10px;
}

.contact-form label {
    display: block;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    background: #1f1d1d;
    border: 1px solid white;
    padding: 8px;
    border-radius: 5px;
    color: white;
    margin-bottom: 15px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background: #ffb84d;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    cursor: pointer;
}

.contact-form button:hover {
    background: #e6a645;
}

.gallery-section {
    padding: 80px 40px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery img {
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 12px;
}